/* Tipografía */
body {
    font-family: 'Cabin', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

a, p {
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    text-align: center;
    padding: 60px 20px;
    background-color: #f44336;
    color: white;
}

/* Video Section */
#video-section {
    padding: 50px;
    text-align: center;
    background-color: #ff7043;
}

.video-container {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #ffffff;
}

/* Secciones */
section {
    padding: 60px 20px;
    text-align: center;
    background-color: #ffe0b2;
}

#mentoria, #comunidad, #apuntes, #contacto {
    margin-top: 30px;
    background-color: #f44336;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

a {
    display: inline-block;
    margin-top: 20px;
    background-color: #ffffff;
    color: #f44336;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #ff7043;
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
#typed-title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
}
